//! **************************************************************************
// Written by: Map O.87xd on Thu Mar 31 08:10:52 2016
//! **************************************************************************

SCHEMATIC START;
COMP "cl" LOCATE = SITE "C9" LEVEL 1;
COMP "RESET" LOCATE = SITE "V4" LEVEL 1;
COMP "blink" LOCATE = SITE "F9" LEVEL 1;
COMP "led<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "led<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "led<2>" LOCATE = SITE "E11" LEVEL 1;
COMP "led<3>" LOCATE = SITE "F11" LEVEL 1;
COMP "led<4>" LOCATE = SITE "C11" LEVEL 1;
COMP "led<5>" LOCATE = SITE "D11" LEVEL 1;
COMP "led<6>" LOCATE = SITE "E9" LEVEL 1;
COMP "REG_SELECT" LOCATE = SITE "H13" LEVEL 1;
PIN REG_SELECT_pin<0> = BEL "REG_SELECT" PINNAME PAD;
PIN "REG_SELECT_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "REG_NUM<0>" LOCATE = SITE "L13" LEVEL 1;
COMP "REG_NUM<1>" LOCATE = SITE "L14" LEVEL 1;
COMP "REG_NUM<2>" LOCATE = SITE "H18" LEVEL 1;
COMP "PC_SELECT" LOCATE = SITE "D18" LEVEL 1;
PIN PC_SELECT_pin<0> = BEL "PC_SELECT" PINNAME PAD;
PIN "PC_SELECT_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "cl_BUFGP/IBUFG" BEL "cl_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

